# Core
streamlit
pandas
numpy
seaborn
matplotlib
debugpy
daymetpy

# Data profiling
ydata-profiling
streamlit-ydata-profiling
pygwalker

# ML stack
pycaret

# Database and migrations
SQLAlchemy>=2.0
alembic
psycopg2-binary  # For PostgreSQL

# Backend API
fastapi
uvicorn[standard]